{% extends "base.html" %}
    
{% block content %}
<div class="container">
    <h1 class="text-center">PCS-01-25</h1>
    <div class="row mt-3">
        {% for new in news %}
        <div class="col-lg-3">
          <div class="card" style="width: 18rem;">
            <div class="imgBlock" style="height: 180px;">
              <img style="height: 100%; object-fit: cover;" src="{{new.image.url}}" class="card-img-top">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{new.title|truncatewords:8}}</h5>
              <p class="card-text">{{new.description|truncatewords:15|safe}}</p>
              <a href="{% url 'news_detail' new.slug  %}" class="btn btn-primary">Перейти</a>
            </div>
          </div> 
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
   