{% extends 'base.html' %}
{% block content %}

<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="https://cdn-icons-png.flaticon.com/512/5562/5562750.png" alt="" width="72" height="57">
      <h2>{{contacts.title}}</h2> 
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last"> 
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0"><a href="tel:{{contacts.phone_number1}}">{{contacts.phone_number1}}</a></h6> 
            </div> 
          </li>
          {% if contacts.phone_number2 %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0"><a href="tel:{{contacts.phone_number2}}">{{contacts.phone_number2}}</a></h6> 
            </div> 
          </li>
          {% endif %}
          {% if contacts.phone_number3 %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0"><a href="tel:{{contacts.phone_number3}}">{{contacts.phone_number3}}</a></h6> 
            </div> 
          </li>
          {% endif %}
          {% if contacts.time_to_work %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{contacts.time_to_work}}</h6> 
            </div> 
          </li>
          {% endif %}
          {% if contacts.social_instagram %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0"><a target="_blank" href="{{contacts.social_instagram}}">Instagram</a></h6> 
            </div> 
          </li>
          {% endif %}
          {% if contacts.social_telegram %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0"><a target="_blank" href="{{contacts.social_telegram}}">Telegram</a></h6> 
            </div> 
          </li>
          {% endif %}
          {% if contacts.social_whatsapp %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0"><a target="_blank" href="{{contacts.social_whatsapp}}">Whatsapp</a></h6> 
            </div> 
          </li>
          {% endif %}
          {% if contacts.social_facebook %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0"><a target="_blank" href="{{contacts.social_facebook}}">Facebook</a></h6> 
            </div> 
          </li>
          {% endif %}
         
        </ul> 
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Оставить заявку на обучение</h4>
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="fullName" class="form-label">ФИО</label>
              <input type="text" class="form-control" id="fullName" placeholder="Арген Артыков" required> 
            </div>

            <div class="col-sm-6">
              <label for="phone" class="form-label">Номер телефона</label>
              <input type="text" class="form-control" id="phone" placeholder="996 777 222 333" required> 
            </div> 

            <div class="col-12">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="email" placeholder="you@gmail.com"> 
            </div> 

          <button class="w-100 btn btn-primary btn-lg" type="submit">Отправить заявку</button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">© 2017–2024 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>


{% endblock content %}