{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Регистрация</h2>
    <form method="post" action="{% url 'registr' %}">
        {% csrf_token %}
        <div class="mb-3">
            {{form.username.label_tag}}
            {{form.username}}
        </div>
        <div class="mb-3">
            {{form.password1.label_tag}}
            {{form.password1}}
        </div>
        <div class="mb-3">
            {{form.password2.label_tag}}
            {{form.password2}}
        </div>
        
        <button type="submit" class="btn btn-primary">
            Зарегистрироваться
        </button>
    </form>
</div>